<!DOCTYPE html>
<html lang="en-US">
<!-- stylesheet -->
<link rel="stylesheet" type="text/css" href ="node_modules\bootstrap\dist\css\bootstrap.css" />
<link rel="stylesheet" type="text/css" href ="style/style.css" />
<!-- /stylesheet -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="controller/maincontainerctrl.js"></script>
<!-- <script type="text/javascript">

var maincontainer = angular.module('maincontainer',[]);
maincontainer.controller('about',function(){
  this.name = "Ujjwal Prakash";
  this.totalwining = "100000 INR";
});

</script> -->
<body ng-app="maincontainer" class="container-fluid">
  <header >

  </header>
<div>
  <div class="jumbotron " id="#abou-us" ng-controller="about as aboutuser">
  <h1>Welcome back, {{aboutuser.name}}</h1>
  <p class="totalwining">Total Wining:{{aboutuser.totalwining}} </p>

</div>
</div>

</body>
</html>
