<link rel="stylesheet" type="text/css" href ="style/loginpage.css" />
<script src="node_modules/angular/angular.min.js"></script>
<script src="controller/loginpage.js"></script>


<div class="login-page" ng-app="loginpage">
  <div class="form">
    <form class="register-form">
      <input ng-model ="user.username" type="text" placeholder="name"/>
      <input ng-model ="user.password" type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form  class="login-form" ng-controller="login">
      <input ng-model ="user.username" type="text" placeholder="username"/>
      <input ng-model ="user.password"type="password" placeholder="password"/>
      <input type="submit" id="submit" value="login" ng-click = "submit()" />
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
